.topnav {
    overflow: hidden;
    background-color: rgb(3, 63, 18);
  }
  
  .topnav a {
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(148, 223, 148);
    color: rgb(17, 26, 20);
  }
  
  .topnav a.active {
    background-color: #3c803f;
    color: white;
  }